@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

@import url(./_reset.css);

body {
    background-color: #09090A;
    color: white;

    height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 4.8rem;
}

button {
    background-color: transparent;
    color: #fff;
    border: 1px solid #8B5CF6;
    border-radius: 0.8rem;

    display: flex;
    align-items: center;
    gap: 1.2rem;

    font-weight: 600;
    font-size: 1.6rem;
    line-height: 125%;

    padding: 1.8rem 2.4rem;
}