@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Roboto+Mono:wght@700&display=swap');

@import url(./_reset.css);

body {
    background-color: #09090A;
    color: white;

    height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 4.8rem;
}

button {
    background-color: transparent;
    color: #fff;
    border: 1px solid #8B5CF6;
    border-radius: 0.8rem;

    display: flex;
    align-items: center;
    gap: 1.2rem;

    font-weight: 600;
    font-size: 1.6rem;
    line-height: 125%;

    padding: 1.8rem 2.4rem;
}

form {
    display: flex;

    padding: 0 4.8rem;
}

.habits {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    margin-top: 4.5rem;
}

.habit {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 6.4rem;
    height: 6.4rem;

    font-size: 4.5rem;
}

.days {
    display: flex;
    gap: 4.8rem;
    margin-left: 3.2rem;
}

.day {
    display:flex;
    gap: 2.4rem;
    flex-direction: column;
}

.day div {
    font-family: 'Roboto Mono';
    font-size: 2rem;
    line-height: 2.5rem;

    color: #A1A1AA;

    text-align: center;
}

input {
    appearance: none;
    -webkit-appearance: none;

    width: 6.4rem;
    height: 6.4rem;

    border: 0.2rem solid #27272A;
    border-radius: 0.8rem;

    background: #18181B;
}

input:checked {
    background: #8B5CF6;
    border: 0.2rem solid #A78BFA;
}